<% if activity.trackable %>
<a href="javascript:void(0)" class="grid-item">
	    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">

<h1><%= activity.owner.name %> is now friends with <%= activity.recipient.name %></h1>
</a>
<% end %>