<div class="post">
<div class="post_content">
<%= link_to user_path(user.name) do %>
	<h3><%= user.name %></h3>
<% end %>
<div class="caption">

<% if current_user %>
<p><%= action_buttons(user)%></p>
<% end %>
</div>
</div>
</div>