<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1><%= @user.name %></h1>
			<p><%= @user.email %></p>	
		</div>
    <button>Learn More</button>
	</div>
</div>

<div class="grid-items">
<%= render_activities(@activities) %>
</div>

	