<div id="show_friends">
<% @user.active_friends.last(16).each do |user| %>
	
	<div class="comment">
	  <div class="comment-image">
	    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
	  </div>
	  <div class="comment-content">
	    <h1><%= user.name %></h1>
	    
	    <p class="comment-detail"><%= action_buttons(user)%></p>
	  </div>
	</div>
	
<% end %>
</div>

<%= render_activities(@activities) %>
<%= render_activities(@activityies, locals: {friends: current_user.active_friends}) %>
	